.board {

  text-align: center;
  background-color: #e6e1e1;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.board-row{
  display: flex;
  
  margin: 20px;
}

.square {
  height: 50px;
  width: 50px;
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  
}