.button{
    margin: 5px 5px 0 0;
    width: 100px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    

}

.button:hover{
    background-color: #fff;
}

.container{
    margin: auto;
    text-align: center;
    border: 3px solid;
    width: 50%;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: #d2ecf9;
}

.buttonGreen{
    background-color: #5cfd74;

}

.buttonBlue{
    background-color: #9cabf6;
}

